{% block menu %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="collapse navbar-collapse">
			
			<ul class="nav navbar-nav">
				<li><a href="{{ path('homepage') }}">eMotion</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if app.user %}
				<ul class="nav navbar-nav">
					<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
					<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav">
					<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
					<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('vehicle_new') }}">Ajouter une voiture</a></li>
						</ul>
					</div>
				</li>
			</ul>
			{% endif %}
		</ul>
		
	</div>
</div>
</nav>
{% endblock %}