{% block menu %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('homepage') }}">eMotion</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar1">

			<ul class="nav navbar-nav">
				<li><a href="{{ path('view_vehicles') }}">Voir les vehicules</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if app.user %}
				<ul class="nav navbar-nav">
					<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
					<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav">
					<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
					<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('add_vehicle') }}">Ajouter un vehicule</a></li>
						</ul>
					</div>
				</li>
			</ul>
			{% endif %}
		</ul>
		
	</div>
</div>
</nav>
{% endblock %}