{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	<h2>Paiement</h2>
	{{ dump()}}
	<p>{{ " Vous allez payer un montant de " ~ offer.priceLocation ~ " € " }}</p>

	 {{ form_start(form, {'attr': {'novalidate': 'true', 'method':'POST','class':'jumbotron'}} )}}
        {{ form_widget(form) }}
    {{ form_end(form) }}
		
	</form>
	<!-- TODO
	* - confirmation de paiement
	* - enregistrement du paiement avec stripe
	 -->

{% endblock %}