{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}

	<h4>Vous avez {{ hours_diff }} heures de retard :</h4>
	<br/>
	<h4>Frais supplémentaires de location : {{ hours_diff * 2 }} € </h4>

	<script src="https://js.stripe.com/v3/" data-key="pk_test_7RFP43V6JWGyPLVJFZlzk7Z0"></script>
	 {{ form_start(form, {'attr': {'novalidate': 'true', 'method':'POST','class':'jumbotron', 'id':'payment-form'}} )}}
	
        {{ form_widget(form) }}
        <label for="card-element">Informations de la carte</label>
        <div class="form-group">
      		<div id="card-element" class="field form-control"></div>
      	</div>
      	<input type="number" name="amount" value={{ hours_diff * 2 }} hidden>
       	<button type="submit" class="btn">Envoyer</button>   
    {{ form_end(form) }}

{% endblock %}