<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Location eMotion{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% endblock %}
        {% block css_offers %}{% endblock %}
        {% block css_vehicles %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info" role="alert">{{message}}</div>
        {% endfor %}

        {% block menu %}{% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascript_base %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="https://js.stripe.com/v3/" data-key="pk_test_7RFP43V6JWGyPLVJFZlzk7Z0"></script>
        {% endblock %}
        {% block javascript_offers %}{% endblock %}
        {% block javascript_vehicles %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
