{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
<h4>Bienvenue sur eMotion, site de location de véhicules</h4>

<div class="slider slick-slider">
	<!-- show 15 vehicles -->
	{% for v in vehicles|slice(0,20) %}
	{% if v.offers|length > 0 %}
		{% for o in v.offers %}
		<!-- If vehicule offer is available -->
			{% if o.isAvailable != 0 %}
			<a class="vehicule" href="{{ path('view_vehicle_slider', {'id' : v.id}) }}">
				<img src="{{ v.picture }}" class="img-home">
				<p>{{v.brand}} {{v.model}}</p>
				<p>{{ v.kilometer ~ " kms " }}</p>
			</a>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endfor %}
</div>

{% endblock %}