{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
<h4>Bienvenue sur eMotion, site de location de véhicules et scooters</h4>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis mi at nunc congue, quis viverra nulla porttitor. Proin consequat interdum sem, vel pulvinar dolor ultricies vel. Morbi feugiat ornare lorem, ut fringilla ligula vulputate sit amet. Praesent ac feugiat odio, nec vestibulum urna. 
</p>

<div class="slider slick-slider">
	{% for v in vehicles|slice(0,10) %}

		{% if v.offers|length > 0 %}
			<a class="vehicule" href="{{ path('view_vehicle_slider', {'id' : v.id}) }}">
				<img src="{{ v.picture }}" class="img-home">
				<p>{{v.brand}} {{v.model}}</p>
				<p>{{ v.kilometer ~ " kms " }}</p>
			</a>
		{% endif %}
	{% endfor %}
</div>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis mi at nunc congue, quis viverra nulla porttitor. Proin consequat interdum sem, vel pulvinar dolor ultricies vel. Morbi feugiat ornare lorem, ut fringilla ligula vulputate sit amet. Praesent ac feugiat odio, nec vestibulum urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris odio ex, rhoncus non orci blandit, varius maximus nisl. Morbi eget ante sed purus lacinia faucibus. Integer et ultrices eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur a quam nunc. Praesent non purus at libero varius pulvinar sed vel turpis. Sed iaculis felis nec consectetur pharetra. Pellentesque sed rutrum leo. Cras vulputate lorem vitae placerat dignissim.
</p>
<p>
	Integer tristique fermentum elit ut consectetur. Quisque egestas iaculis convallis. Donec purus eros, venenatis vitae efficitur in, venenatis a lorem. Praesent non nunc eget lorem aliquet pharetra quis eget orci. Mauris est ex, pellentesque sit amet est non, porttitor eleifend ligula. Nam vehicula egestas sodales. Vestibulum ultricies ac enim in ornare. In ipsum nunc, cursus non odio at, fermentum porttitor purus.
</p>
<p>

	Aliquam sit amet finibus augue, a placerat nisl. Nunc pretium, dolor eget sodales facilisis, est nisi ultricies purus, quis fringilla nunc purus eget tellus. Proin posuere ut eros in rutrum. Praesent rhoncus risus sem, ac pharetra mi rhoncus ut. Vivamus vitae faucibus odio. In in accumsan purus. Praesent pretium augue sit amet tincidunt tincidunt. Mauris vitae dolor eros. Nullam dignissim ullamcorper urna in scelerisque.
</p>

{% endblock %}