<html>
<head>
	<meta charset="utf-8">	
	<style>
		.invoice-box {
			margin: 3em;
		}
		.table {
			border: 1px solid grey;
		}
	</style>
</head>

<body>
	<div class="invoice-box">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr class="top">
				<td colspan="4" style="position: relative;">
					<table class="first">
						<tr>
							<td colspan="3" class="logo">
								<img src="{{ asset('img/logo.png') }}">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr class="top">
					<td colspan="2">
						eMotion<br>
						13 avenue des champs élysées<br>
						75001 Paris
					</td>
					
					<td colspan="2" style="text-align: right;">
						{% for b in bill.customer %}
							{{ b.firstName }} {{ b.lastName }}<br>
							{{ b.address }}<br>
							{{ b.phoneNumber }}<br><br>
							Paris, Le ...
						{% endfor %}
					</td>

			</tr>
			<tr class="information">
				<td colspan="4">
					<table>
						<tr>
							<td>
								<h2 class="dear"><b>FACTURE</b> </h2>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			
			<tr class="heading">
				<table class="table" width="100%">
					<tr>
						<td>
							Véhicule loué
						</td>
						
						<td>
							Date Début
						</td>
						<td> 
							Date fin
						</td>
						<td>
							Date retour
						</td>
						<td>
							Pénalité retard
						</td>
						<td>
							Prix location
						</td>
						<td>
							Prix total
						</td>
					</tr>
				</table>
			</tr>
			
			<tr class="information last">
				<td colspan="4">
					<table width="100%">
						<tr>
							<td>
								<p>
									Conformément aux conditions générales de vente, eMotion se réserve le droit de modifier la facture suite au retard du rendu d véhicule ou encore lié aux dégats matériels causés.
									<br/>
									<br/>
									eMotion SARL <br />
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>