<body>
	<style>
		.invoice-box {
			margin: 3em;
		}
		/*.table {
			border: 1px solid grey;
		}*/
		.table td, .table th {
			text-align: center;
			border: 1px solid grey;
		}
		.blue {
			color: darkblue;
		}
	</style>
	<div class="invoice-box">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr class="top">
				<td colspan="2">
					<h3 style="font-size: 24px; color: darkblue;">eMotion</h3>
					<hr>

					43 Rue de Rivoli<br>
					75002 Paris<br>
					Siret : 404 833 048 02907
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: right;">
						{{ bill.customer.firstName }} {{ bill.customer.lastName }}<br>
						{{ bill.customer.address }}<br>
						{{ bill.customer.phoneNumber }}<br><br>
						Paris, Le {{ "now"|date("d M Y") }}
				</td>
			</tr>
			<tr class="information">
				<td colspan="4">
					<table>
						<tr>
							<td>
								<h2 class="dear"><b>FACTURE</b> </h2>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			
			<tr class="heading">
				<table class="table" width="100%">
					<tr>
						<th class="blue">Véhicule loué</th>	
						<th class="blue">Date Début</th>
						<th class="blue">Date fin</th>
						<th class="blue">Date retour</th>
						
					</tr>
					<tr>
						<td>{{ bill.offer.vehicle.brand ~ " " ~ bill.offer.vehicle.model ~ " " ~ bill.offer.vehicle.color }}</td>
						<td>{{ bill.offer.dateBegin|date('d M Y H:i') }}</td>
						<td>{{ bill.offer.dateEnd|date('d M Y H:i') }}</td>
						<td>{{ bill.dateReturn|date('d M Y H:i') }}</td>
						
					</tr>
					<tr>
						<th></th>
						<th class="blue">Prix location</th>
						<th class="blue">Pénalité retard</th>
						<th class="blue">Prix total</th>
					</tr>
					<tr>
						<td></td>	
						<td>{{ bill.amount ~ " € " }}</td>
						<td>{{ bill.latenessCosts ~ " €  " }}</td>	
						<td>{{ bill.amount + bill.latenessCosts}} € </td>
					</tr>
				</table>
			</tr>
			
			<tr class="information last">
				<td colspan="4">
					<table width="100%" style="margin-top: 6em;">
						<tr>
							<td>
								<p>
									Conformément aux conditions générales de vente, eMotion se réserve le droit de modifier la facture suite au retard du rendu du véhicule ou encore lié aux dégats matériels causés.
									<br/>
									<br/>
								</p>
								<p style="text-align:right;">eMotion SARL</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
