{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
	<div>Historique de vos commandes</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Acheté le : </th>
				<th>Voiture de location</th>
				<th>Prix</th>
				<th>Date de début de location</th>
				<th>Date de retour supposée</th>
				<th>Rendu le</th>
				<th>Fiche technique</th>
			</tr>
		</thead>
		<tbody>
			{% for b in app.user.bills %}
			<tr>
				<td>{{ b.datePayment|date_modify('+2 hours')|date('d M Y H:i') }}</td>
				<td>{{ b.offer.vehicle.brand ~ " " ~ b.offer.vehicle.model ~ " " ~ b.offer.vehicle.color }}</td>
				<td>{{ b.amount ~ " € " }}</td>
				<td>{{ b.offer.dateBegin|date('d M Y H:i') }}</td>
				<td>{{ b.offer.dateEnd|date('d M Y H:i') }}</td>
				{% if b.dateReturn is null %}
				<td>{{ " - " }}</td>
				{% else %}
				<td>{{ b.dateReturn }}</td>
				{% endif %}
				<td><a href="{{ path('view_vehicle', {id: b.offer.vehicle.id}) }}"><i class="fa fa-wrench" aria-hidden="true"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}