{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
	<div><h4>Historique de vos commandes</h4></div>
	<hr/>

	<div id="filter"><label>Affiner votre recherche : &nbsp;</label></div>

	<table class="table table-striped" id="offers_history_table">
		<thead>
			<tr>
				<th>Acheté le : </th>
				<th class="sort">Voiture de location</th>
				<th>Prix</th>
				<th>Début</th>
				<th>Fin supposée</th>
				<th>Fin réelle</th>
				<th>Fiche technique</th>
				<th>Frais supplémentaires</th>
				<th>Facture</th>
			</tr>
		</thead>
		<tbody>
			{% for b in app.user.bills %}
			<tr>
				<td>{{ b.datePayment|date('d M Y H:i') }}</td>
				<td>{{ b.offer.vehicle.brand ~ " " ~ b.offer.vehicle.model ~ " " ~ b.offer.vehicle.color }}</td>
				<td>{{ b.amount ~ " € " }}</td>
				<td>{{ b.offer.dateBegin|date('d M Y H:i') }}</td>
				<td>{{ b.offer.dateEnd|date('d M Y H:i') }}</td>
				{% if b.dateReturn is null %}
					<td>-</td>
				{% else %}
					{% if "ago" in b.offer.dateEnd|time_diff(b.dateReturn) %}
						<td><div style="background-color:red">{{ b.dateReturn|date('d M Y H:i') }}</div></td>
					{% else %}
						<td><div style="background-color:green">{{ b.dateReturn|date('d M Y H:i') }}</div></td>
					{% endif %}
				{% endif %}
					<td><a href="{{ path('view_vehicle', {id: b.offer.vehicle.id}) }}"><i class="fa fa-wrench" aria-hidden="true"></i></a></td>

				{% if b.dateReturn != null %}
					{% if "ago" in b.offer.dateEnd|time_diff(b.dateReturn) %}
						{% if b.latenessCosts != 0 %}
							<td><span class="disabled">Deja payés</span></td>
						{% else %}
							<td><a href="{{ path('offer_post_location_payment_form', {id: b.offer.id }) }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></td>
						{% endif %}
					{% else %}
						<td><span class="disabled">Non</span></td>
					{% endif %}
				{% else %}
						<td><span class="disabled">Voiture non retournée</span></td>
				{% endif %}

				{% if b.dateReturn is null %}
					<td><span class="disabled">Pas encore disponible</span></td>
				{% else %}
					{% if ("ago" in b.offer.dateEnd|time_diff(b.dateReturn)) and (b.latenessCosts == 0) %}
					<td><span class="disabled">Payer les frais supplementaires pour afficher la facture</span></td>
					{% else %}
						<td><a href="{{ path('create_bill', {id: b.offer.bill.id }) }}">Afficher la facture</a></td>
					{% endif %}
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}

{% block css_offers_history %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_offers_history %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script>
$(document).ready(function() {
	var table=$('#offers_history_table').DataTable({
		"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
		"pageLength": -1,
		"order": [[ 0, 'dsc' ]], // tri sur la premiere colonne (date d'achat) par ordre decroissant
		initComplete: function () {
			this.api().columns(['.sort']).every(function () {
				var column = this;
				var select = $('<select><option value=""></option></select>')
					.appendTo( $('#filter') )
					.on( 'change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);
						column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
					} );
				column.data().unique().sort().each( function ( d, j ) {
					select.append( '<option value="'+d+'">'+d+'</option>' )
				} );
			});
		}
	} );
});
	</script>
{% endblock %}