{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
	<h4>Liste des véhicules </h4>
	<div class="container-fluid">
		<table class="table table-striped">
			<tr> 
		    	<th>Marque</th>
		    	<th>Modèle</th>
		    	<th>Numéro de série</th>
		    	<th>Couleur</th>
		    	<th>N° d'immatriculation</th>
		    	<th>Nombre de kilomètres au compteur</th>
		    	<th>Date d'achat</th>
		    	<th>Prix d'achat</th>
		      </tr>
			{% for v in vehicles %}
			<tr> 
				<td>{{ v.brand }}</td>
				<td>{{ v.model }}</td>
				<td>{{ v.serialNumber }}</td>
				<td>{{ v.color }}</td>
				<td>{{ v.numberPlate }}</td>
				<td>{{ v.kilometer }}</td>
				<td>{{ v.datePurchase | date }}</td>
				<td>{{ v.pricePurchase }}</td>
				<td><a href="{{ path('admin_edit_vehicle',  { 'id': v.id } ) }}">Editer</a></td>
				<td><a href="{{ path('admin_delete_vehicle', { 'id': v.id }) }}">Supprimer</a></td>
			</tr>
			{% else %}
				    <tr>
				    	<td>Pas de voitures ajoutés</td>
				    </tr>
			{% endfor %}
		</table>
		<a href="{{ path('admin_add_vehicle') }}">Ajouter un véhicule</a>
	</div>

{% endblock %}