{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}

	<h4>Fiche technique</h4>
	<hr/>
	
	<div>{{ " Marque " ~ vehicle.brand }}</div>
	<div>{{ " Modele " ~ vehicle.model }}</div>
	<div>{{ " Couleur " ~ vehicle.color }}</div>
	<div>{{ " Numero de serie " ~ vehicle.serialNumber }}</div>
	<div>{{ " Plaque d'immatriculation " ~ vehicle.numberPlate }}</div>
	<div>{{ " Nb de kms au compteur " ~ vehicle.kilometer }}</div>
	<div>{{ " Date d'achat " ~ vehicle.datePurchase|date('d M Y') }}</div>
	<div>{{ " Prix d'achat " ~ vehicle.pricePurchase }}</div>

{% endblock %}