{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
		
		<h4>Liste des véhicules </h4>
		<br/>

		<div id="filter"><label>Affiner votre recherche : &nbsp;</label></div>

		<table class="table table-striped" id="vehicles_table">
			<thead>
				<tr>
					<th></th> 
		    		<th class="sort">Marque</th>
		    		<th class="sort">Modèle</th>
			    	<th class="sort">Couleur</th>
			    	<th>Date d'achat</th>
		    		<th>Nombre de kilomètres au compteur</th>
		    		<th>Fiche technique du véhicule</th>
		    		
		    		<th>Offre(s) disponible(s)</th>
		      </tr>
		    </thead>
		    <tbody>
				{% for v in vehicles %}
				<tr>
					<td>
						{% if "http" in v.picture %}
							<img src="{{ v.picture }}" width="300px" height="auto">
						{% else %}
							<img src="{{ asset('uploads/vehicle_pictures/' ~ v.picture) }}">
						{% endif %}
					</td>
					<td>{{ v.brand }}</td>
					<td>{{ v.model }}</td>
					<td>{{ v.color }}</td>
					<td>{{ v.datePurchase|date('d M Y') }}</td>
					<td>{{ v.kilometer ~ " kms " }}</td>
					<td><a href="{{ path('view_vehicle', {'id': v.id}) }}"><i class="fa fa-wrench" aria-hidden="true"></i></a></td>
					
					{% if v.offers|length > 0 %}
						<td><a href="{{ path('view_vehicle_offers', {'id': v.id}) }}">{{ v.offers|length }}</a></td>
					{% else %}
						<td class="disabled">{{ v.offers|length }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock %}

{% block css_vehicles %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_vehicles %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script>
$(document).ready(function() {
	var table=$('#vehicles_table').DataTable({
		"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
		"pageLength": -1,
		"order": [[ 1, 'asc' ], [ 2, 'asc' ]], // tri sur la 2e & 3e colonne par ordre croissant
		initComplete: function () {
			this.api().columns(['.sort']).every(function () {
				var column = this;
				var select = $('<select><option value=""></option></select>')
					.appendTo( $('#filter') )
					.on( 'change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);
						column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
					} );
				column.data().unique().sort().each( function ( d, j ) {
					select.append( '<option value="'+d+'">'+d+'</option>' )
				} );
			});
		}
	} );
});
	</script>
{% endblock %}