{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}	
	<h4>Liste des offres de location </h4>
	<div class="container-fluid">
		<table class="table table-striped">
			<tr> 
		    	<th>Véhicule</th>
		    	<th>Prix de la location</th>
		    	<th>Date de début</th>
		    	<th>Date de fin</th>
		    </tr>
			{% for o in offers %}
			<tr> 
				<td>{{ o.vehicle }}</td>
				<td>{{ o.priceLocation }}</td>
				<td>{{ o.dateBegin|date('d M Y H:i:s') }}</td>
				<td>{{ o.dateEnd|date('d M Y H:i:s') }}</td>
				<td><a href="{#{ path('edit_offer',  { 'id': o.id } ) }#}">Editer</a></td>
				<td><a href="{#{ path('delete_offer', { 'id': o.id }) }#}">Supprimer</a></td>
			</tr>
			{% else %}
				    <tr>
				    	<td>Pas d'offres disponibles</td>
				    </tr>
			{% endfor %}
		</table>
		<a class="btn btn-light" href="{{ path('admin_add_offer') }}">Ajouter une offre</a>
	</div>

{% endblock %}