{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
		
	<h4>Liste des offres de location </h4>
	<br/>

		{% for o in offers %}
			{% if o.isAvailable != 0 %}
				<div class="col-md-4" style="border: 1px solid black;">
					<div>
						<img src="{{ asset('uploads/vehicle_pictures/' ~ o.vehicle.picture) }}">
						<img src="{{ o.vehicle.picture }}" width="180px;" height="180px;">
					</div>
					<div>{{ o.vehicle.brand ~ " " ~ o.vehicle.model ~ " " ~ o.vehicle.color ~ " pour " ~ o.priceLocation ~ " € " }}</div>
					
					<div style="display:flex; justify-content:space-between;"> 
						<div>{{ " Du " ~ o.dateBegin|date('d M Y') ~ " à " ~ o.dateBegin|date('H:i') ~ " au " ~ o.dateEnd|date('d M Y') ~ " à " ~ o.dateEnd|date('H:i') }}</div>
						<div>
							<div><a href="{{ path('view_vehicle', {'id': o.vehicle.id}) }}"><i class="fa fa-wrench" aria-hidden="true"></i></a></div>
							<div><a href="{{ path('view_offer_recap', {id: o.id }) }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
{% endblock %}