{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}

		<h4>Gerer les reservations</h4>
		<br/>

		<div id="filter"><label>Affiner votre recherche : &nbsp;</label></div>

		<table class="table table-striped" id="admin_current_offers_table">
			<thead>
				<tr> 
			    	<th class="sort">Véhicule</th>
			    	<th>Proprietaire</th>
			    	<th>Prix de la location</th>
		    		<th>Début</th>
		    		<th>Fin supposée</th>
		    		<th>Fin réelle</th>
		    		<th>Fin de location</th>
		    		<th>Frais supplémentaires</th>
		    		
		    	</tr>
			</thead>
			<tbody>
				{% for o in offers %}
					{% if o.isAvailable != 1 %}
					<tr> 
						<td>{{ o.vehicle.brand ~ " " ~ o.vehicle.model ~ " " ~ o.vehicle.color }}</td>
						<td>{{ o.bill.customer.firstName ~ " " ~ o.bill.customer.lastName }}</td>
						<td>{{ o.priceLocation ~ " € " }}</td>
						<td>{{ o.dateBegin|date('d M Y H:i') }}</td>
						<td>{{ o.dateEnd|date('d M Y H:i') }}</td>
						{% if o.bill.dateReturn is null %}
							<td>-</td>
						{% else %}
							{% if "ago" in o.dateEnd|time_diff(o.bill.dateReturn) %}
								<td><div style="background-color:red">{{ o.bill.dateReturn|date('d M Y H:i') }}</div></td>
							{% else %}
								<td><div style="background-color:green">{{ o.bill.dateReturn|date('d M Y H:i') }}</div></td>
							{% endif %}
						{% endif %}
						<td>
							{{ form_start(forms[o.id]) }}
							<input type="hidden" name="offer_id" value="{{ o.id }}">
							{{ form_end(forms[o.id]) }}
						</td>

						<td>
							{% if o.bill.dateReturn != null %}
								{% if "ago" in o.dateEnd|time_diff(o.bill.dateReturn) %}
									<a href="{{ path('offer_post_location_payment_form', {id: o.id }) }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

{% endblock %}
	
{% block css_admin_offers %}
	<link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.min.css') }}" type="text/css">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_admin_offers %}

	<script type="text/javascript" src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>

	<script>
		jQuery('.datetimepicker').datetimepicker({
			format: 'd.m.Y H:i'
		});
/*		jQuery('.datetimepicker').blur(function() {
			jQuery('form').submit();
		});*/
	</script>

	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script>
$(document).ready(function() {
	var table=$('#admin_current_offers_table').DataTable({
		"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
		"pageLength": -1,
		"order": [[ 0, 'asc' ]], // tri sur la premiere colonne (voiture) par ordre croissant
		initComplete: function () {
			this.api().columns(['.sort']).every(function () {
				var column = this;
				var select = $('<select><option value=""></option></select>')
					.appendTo( $('#filter') )
					.on( 'change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);
						column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
					} );
				column.data().unique().sort().each( function ( d, j ) {
					select.append( '<option value="'+d+'">'+d+'</option>' )
				} );
			});
		}
	} );
});
	</script>
{% endblock %}